<section class="p-topDialy01 first color01" data-target="topDialy01" data-leftArrowCtrl data-rightArrowCtrl data-colorCtrl>
    <div class="block contents" data-target="contentsTarget">
        <div class="area title">
            <p class="title">CITTA DIARY 2025-26</p>
            <p class="subTitle">〈本体のみ A5サイズ〉</p>
        </div>
        <div class="area contents">
            <div class="textBox first" data-leftArrowCtrl data-rightArrowCtrl>
                <p class="text first">「自分の好きなカバーで手帳を彩りたい」そんな方のために、あえてシンプルな「CITTA手帳」をご用意しました。やさしいクリーム色の表紙に、しおり無しの仕様。どんなカバーにもなじみ、自分らしく一年を描ける一冊です。</p>
                <p class="text second">0202020202020202020202020202020202020202</p>
                <p class="text third">0303030303030303030303030303030303030303</p>
                <p class="text fourth">0404040404040404040404040404040404040404</p>
                <p class="text fifth">0505050505050505050505050505050505050505</p>
            </div>
            <div class="btnBox">
                <p class="price">2,200円（税込）</p>
                <p class="btn">
                    <a href="">BUY</a>
                </p>
            </div>
        </div>
        <div class="area image first color01" data-leftArrowCtrl data-rightArrowCtrl data-colorCtrl>
            <div class="image first">
                <span class="image color01">color01 image01</span>
                <span class="image color02">color02 image01</span>
                <span class="image color03">color03 image01</span>
                <span class="image color04">color04 image01</span>
                <span class="image color05">color05 image01</span>
            </div>
            <div class="image second">
                <span class="image color01">color01 image02</span>
                <span class="image color02">color02 image02</span>
                <span class="image color03">color03 image02</span>
                <span class="image color04">color04 image02</span>
                <span class="image color05">color05 image02</span>
            </div>
            <div class="image third">
                <span class="image color01">color01 image03</span>
                <span class="image color02">color02 image03</span>
                <span class="image color03">color03 image03</span>
                <span class="image color04">color04 image03</span>
                <span class="image color05">color05 image03</span>
            </div>
            <div class="image fourth">
                <span class="image color01">color01 image04</span>
                <span class="image color02">color02 image04</span>
                <span class="image color03">color03 image04</span>
                <span class="image color04">color04 image04</span>
                <span class="image color05">color05 image04</span>
            </div>
            <div class="image fifth">
                <span class="image color01">color01 image05</span>
                <span class="image color02">color02 image05</span>
                <span class="image color03">color03 image05</span>
                <span class="image color04">color04 image05</span>
                <span class="image color05">color05 image05</span>
            </div>
            
        </div>
        <div class="area color color01" data-colorCtrl>
            <button class="circle color01" data-target="color01"></button>
            <button class="circle color02" data-target="color02"></button>
            <button class="circle color03" data-target="color03"></button>
            <button class="circle color04" data-target="color04"></button>
            <button class="circle color05" data-target="color05"></button>
        </div>

        <div class="area arrow">
            <button class="arrow left" data-target="leftArrow"></button>
            <button class="arrow right" data-target="rightArrow"></button>
        </div>
    </div>
</section>