<section class="p-topDialy01" data-target="topDialy01">
    <div class="block contents" data-target="contentsTarget">
        <div class="area title">
            <p class="title">CITTA DIARY 2025-26</p>
            <p class="subTitle">〈本体のみ A5サイズ〉</p>
        </div>
        <div class="area contents">
            <div class="textBox">
                <p class="text">「自分の好きなカバーで手帳を彩りたい」そんな方のために、あえてシンプルな「CITTA手帳」をご用意しました。やさしいクリーム色の表紙に、しおり無しの仕様。どんなカバーにもなじみ、自分らしく一年を描ける一冊です。</p>
            </div>
            <div class="btnBox">
                <p class="price">2,200円（税込）</p>
                <p class="btn">
                    <a href="">BUY</a>
                </p>
            </div>
        </div>
        <div class="area color">
            <button class="circle"></button>
            <button class="circle"></button>
            <button class="circle"></button>
            <button class="circle"></button>
            <button class="circle"></button>
        </div>

        <div class="area arrow">
            <button class="arrow left"></button>
            <button class="arrow right"></button>
        </div>
    </div>
</section>