@use 'sass:math';
@use 'sass:meta';
// 単位を除去する関数
@function strip-unit($value) {
  @return if(meta.type-of($value) == 'number' and math.is-unitless($value) == false, math.div($value, $value * 0 + 1), $value);
}

// Breakpoints
$RES_WID_SMALL01: 768px;

$CONTENTS_WIDTH01: 1200px;

$RESPONSIVE_ASPECT: "3/4";

// Fonts
$DF_FONT: "Noto Sans JP", sans-serif;
$DF_EN_FONT: "Montserrat", sans-serif;

// Colors
$DEFAULT_COLOR01: #342622;
$DEFAULT_COLOR02: #A99886;
$SITE_BG01: #FFF;

@mixin SP {@media (max-width: $RES_WID_SMALL01) and (max-aspect-ratio: $RESPONSIVE_ASPECT) {@content;}}
@mixin PC {@media (min-width: $RES_WID_SMALL01) and (min-aspect-ratio: $RESPONSIVE_ASPECT) {@content;}}

// vwsp: スマホ用 vw変換
@function vwsp($size) {
  $rate: math.div(100, 400);
  @return $rate * $size * 1vw;
}

// vwpc: PC用 vw変換
@function vwpc($size) {
  // 768pxでのサイズ（SP基準で計算、必要なら調整）
  // $min-size: math.div($size * 768, 1400);
  $min-size: math.div($size * 320, 1280);
  // 140pxでのサイズ（PC基準でそのまま）
  $max-size: $size;
  // clamp-calcで可変値を返す（数値のみ渡す）
  // @return clamp-calc($min-size, $max-size, 768, 1400);
  @return clamp-calc($min-size, $max-size, 320, 1280);
}

// fontSp: スマホ用フォント設定
@mixin fontSp($font-size) {
  font-size: $font-size * 1px;
  font-size: vwsp($font-size);
}

// fontPc: PC用フォント設定
@mixin fontPc($font-size) {
  font-size: $font-size * 1px;
  font-size: vwpc($font-size);
}

@mixin hidden($important: false) {
  @if $important == true {
    pointer-events: none !important;
    opacity: 0 !important;
  } @else {
    pointer-events: none;
    opacity: 0;
  }
}
@mixin visible($important: false) {
  @if $important == true {
    pointer-events: auto !important;
    opacity: 1 !important;
  } @else {
    pointer-events: auto;
    opacity: 1;
  }
}
/*
 * 機能：clamp関数の文字列を返す
 * 引数：$size-at-min-width サイズ(フォントサイズなど)の最小値(pxやremなどの単位は必須)
 * 　　　$size-at-max-width サイズ(フォントサイズなど)の最大値(pxやremなどの単位は必須)
 * 　　　$min-width [省略可]サイズが最小値に到達する画面幅
 * 　　　$max-width [省略可]サイズが最大値に到達する画面幅
 * 使用方法：
 *　　デフォルトの最小画面幅$min-width-defaultと最大画面幅$max-width-defaultを事前に指定しておく
 *　　最小幅と最大幅をデフォルト以外にしたい場合は、引数にそれぞれ単位付きの画面幅を入れる
 */
 $min-width-default: 768px; // デフォルトの最小画面幅
 $max-width-default: 1400px; // デフォルトの最大画面幅
 @function clamp-calc(
   $size-at-min-width,
   $size-at-max-width,
   $min-width: $min-width-default,
   $max-width: $max-width-default
 ) {
   // px値を数値化
  $min-width-num: strip-unit($min-width);
  $max-width-num: strip-unit($max-width);
  $min-size-num: strip-unit($size-at-min-width);
  $max-size-num: strip-unit($size-at-max-width);
  // グラフの斜度（Sassの数値演算のみで計算）
  $slope: math.div($max-size-num - $min-size-num, $max-width-num - $min-width-num);

  // グラフのy方向開始点の調整（Sassの数値演算のみで計算）
  $y-axis-intersection: -1 * $min-width-num * $slope + $min-size-num;
  // 小数点以下3桁で四捨五入
  $y-axis-intersection: round-decimal($y-axis-intersection, 3);
  // $slopeをvw単位に変換
  $slope-vw: round-decimal($slope * 100, 3);

   // グラフの傾斜が逆方向になる場合、clamp関数の引数の最小値と最大値を入れ替える
   @if $size-at-max-width < $size-at-min-width {
     $temp-max: $size-at-max-width;
     $temp-min: $size-at-min-width;
     $size-at-max-width: $temp-min;
     $size-at-min-width: $temp-max;
   }

   // 最終的な結果を格納（px単位に戻す）
  $return-value: clamp(#{$size-at-min-width}px, #{$y-axis-intersection}px + #{$slope-vw}vw, #{$size-at-max-width}px);
   @return $return-value;
 }
 // 小数点以下の指定した桁数で四捨五入する関数
 @function round-decimal($value, $decimal-place) {
   // 四捨五入する値($value)を10の小数点以下桁数累乗倍する
   $temp-value: calc($value * pow(10, $decimal-place));
   // 累乗倍した数値で四捨五入(roundは小数点以下の指定ができない)
   $temp-value: round($temp-value);
   // 四捨五入した値を再度同じ10の累乗倍の数値で割った数値を返す
   @return calc($temp-value / pow(10, $decimal-place));
 }
 // 累乗の関数(指数は正の整数のみで有効、負の指数は対象外)
 @function pow($number, $exponent) {
   $value: 1;

   @if $exponent > 0 {
     @for $i from 1 through $exponent {
       $value: $value * $number;
     }
   }
   @return $value;
 }

@mixin contentsWidth($max: $CONTENTS_WIDTH01, $padding: 60) {
  max-width: calc(#{$max} + vwpc($padding) * 2);
  margin: 0 auto;
  padding-left: vwpc($padding);
  padding-right: vwpc($padding);
}