<div class="c-bannerSet">
    <div class="componentWrapper">
        <div class="block contents">
            <div class="item">
                <a href="">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/common/common_banner01.png',
                        alt: '',
                        sizes: '50vw',
                        baseWidth: 1140
                    }) %>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <%- include('../../../_components/_common/_image/index.ejs', { 
                        imagePath: '/assets/image/common/common_banner02.png',
                        alt: '',
                        sizes: '50vw',
                        baseWidth: 1140
                    }) %>
                </a>
            </div>
        </div>
    </div>
</div>