<section class="p-learnAbout01" data-target="learnAbout01" data-hiddenMenu>
    <div class="block contents" data-target="contentsTarget">
        <p>CITTA手帳の使い方を学べる「手帳セミナー」と「手帳スクール」を開してます。手帳セミナーは「きっかけ」。手帳を使って未来を描く面白さに気づく場です。<br>
            一方、スクールは「変容のプロセス」。実践を通じて、時間の使い方だけでなく、人生そのものをデザインしていきます。<br>
            どちらも大切な価値がありますが、「ちょっと試してみたい」方にはセミナーを、「本気で人生を変えたい」方にはスクールをおすすめします。</p>
    </div>
</section>