@use "../../../assets/scss/s_config" as config;

.p-topVoice01 {
    position: relative;
    z-index: 100;
    &>.componentWrapper {
        position: relative;
        @include config.contentsWidth();

        .block.title {
            margin-bottom: config.vwpc(40);
            text-align: center;
            
            .title {
                @include config.fontPc(24);
            }
        }

        .block.contents {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: config.vwpc(20);
            .item {
                display: flex;
                gap: config.vwpc(10);
                width: 32%;
                padding: config.vwpc(20);
                background-color: #FFF;
                box-sizing: border-box;
             
                box-shadow: 0px 0px config.vwpc(30) rgba(115, 90, 64, 0.15);
                border-radius: config.vwpc(20);

                .thumbnail {
                    overflow: hidden;
                    width: config.vwpc(100);
                    height: config.vwpc(100);
                    flex-shrink: 0;
                    border-radius: 100px;
                    background-color: #F00;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text {
                    margin-bottom: config.vwpc(8);
                    @include config.fontPc(12);
                }
                .label {
                    display: table;
                    padding: config.vwpc(10);
                    background-color: #F1EFDD;
                    @include config.fontPc(12);
                    font-weight: bold;
                    line-height: 1.0;
                }
            }
        }
    }
}

