<section class="p-topVoice01">
    <div class="componentWrapper">
        <div class="block title">
            <h3 class="title">愛用者の皆様の実感をご紹介</h3>
        </div>
        <div class="block contents">
            <div class="item">
                <div class="thumbnail">
                    
                </div>
                <div class="textBox">
                    <p class="text">人からどう言われようが、私は私がやりたいようにやる！生きたいように生きる！と強く決めました。確固たる自分の確立に成功！！</p>
                    <p class="label">木部真紀さん・40代</p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    
                </div>
                <div class="textBox">
                    <p class="text">ワーカーホリックでどこか働いていないと不安だった自分が、週休3日を継続して取れるようになり、働く時間を減らしたにもかかわらず昨年の年収の２倍になりました！</p>
                    <p class="label">長谷部薫さん・30代</p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    
                </div>
                <div class="textBox">
                    <p class="text">夜型生活、残業生活を変える。睡眠、運動、食事の大切さを知り、早起き習慣が身についた。１年間初めて手帳が続きました。</p>
                    <p class="label">ミーナさん・50代</p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    
                </div>
                <div class="textBox">
                    <p class="text">離婚したいと思っていた夫に感謝できる気持ちが持てるようになりました。手帳の付け方よりも、心の持ち方にかなり影響がありました！</p>
                    <p class="label">おかの ゆりさん・50代</p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    
                </div>
                <div class="textBox">
                    <p class="text">私の行動パターンが変わったことで家族も自分のしたいことを考えたり行動が変わったりと影響があることが私にとっては驚きでした。</p>
                    <p class="label">中村佐和さん・50代</p>
                </div>
            </div>
            <div class="item">
                <div class="thumbnail">
                    
                </div>
                <div class="textBox">
                    <p class="text">生活とマインドが整い、受講してから一度も風邪をひいていないです。早寝早起き、朝トイレ掃除、水シャワー、朝ヨガが習慣化でき、日々、幸せを感じられるようになりました。</p>
                    <p class="label">岸まゆみさん・30代</p>
                </div>
            </div>
        </div>
    </div>
</section>