.p-topConcept01 {
    position: relative;
    z-index: 100;
    &.is-end  {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &.is-enter {
        .content {
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
        }
    }
    
    .block.scroll {
        width: 100%;
        overflow: hidden;
        
        .area.items {
            display: flex;
            flex-direction: column;
            background-color: #f0e4e4;
            height: 500svh;

            .item {
                pointer-events: none;
                opacity: 0;
                
                position: relative;
                width: 100%;
                background-color: #000;
                transition: opacity 0.3s ease;
                &:first-child {
                    pointer-events: auto;
                    opacity: 1;
                }
                &:nth-child(even) {
                    .content {
                        background-color: #0FF;
                    }
                }
                &:nth-child(odd) {
                    .content {
                        background-color: #F0F;
                    }
                }
                &:first-child {
                    .content {
                        opacity: 1;
                    }
                }
                &.is-active {
                    pointer-events: auto;
                    opacity: 1 !important;
                }
                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                    width: 100svw;
                    height: 100svh;
                    transition: opacity 0.3s ease;

                    .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            
        }
    }
}