@use "../../../assets/scss/s_config" as config;

.p-topConcept01 {
    position: relative;
    z-index: 100;
    &.is-end  {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:has(.item:not(:nth-child(1)).is-active) {
         .topSectionTitle01 {
            @include config.fontPc(60);
            
        }
    }

    &.is-enter {
        .block.scroll {
            .area.title {
                position: fixed;
                
            }
             .area.items {
                .content {
                    position: fixed !important;
                    top: 0 !important;
                    left: 0 !important;
                }
             }
        }
        
    }

    
    
    .block.scroll {
        width: 100%;
        overflow: hidden;

        .area.title {
            position: absolute;
            top: config.vwpc(200);
            left: config.vwpc(60);
            z-index: 2000;

            .topSectionTitle01 {
                color: #FFF;
            }
            .text {
                @include config.fontPc(24);
                color: #FFF;
            }
        }
        
        .area.items {
            display: flex;
            flex-direction: column;
            background-color: #f0e4e4;
            height: 1000svh;

            .item {
                pointer-events: none;
                opacity: 0;
                
                position: relative;
                width: 100%;
                background-color: #000;
                transition: opacity 0.3s ease;
                &:first-child {
                    pointer-events: auto;
                    opacity: 1;
                }
                &:nth-child(even) {
                    .content {
                        background-color: #0FF;
                    }
                }
                &:nth-child(odd) {
                    .content {
                        background-color: #F0F;
                    }
                }
                &:first-child {
                    .content {
                        opacity: 1;
                    }
                }
                &.is-active {
                    pointer-events: auto;
                    opacity: 1 !important;
                }
                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                    width: 100svw;
                    height: 100svh;
                    transition: opacity 0.3s ease;

                    .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .textBox {
                        overflow: hidden;
                        position: absolute;
                        bottom: config.vwpc(60);
                        left: config.vwpc(60);
                        z-index: 10;
                        width: fit-content;
                        padding: config.vwpc(40);
                        color: #FFF;
                        border-radius: config.vwpc(20);

                        &::after {
                            /* bg */
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            top: 0px;
                            left: 0px;

                            background: rgba(0, 0, 0, 0.3);
                            backdrop-filter: blur(8px);
                        }

                        .title {
                            position: relative;
                            z-index: 20;
                            @include config.fontPc(24);
                            margin-bottom: config.vwpc(16);
                            
                            span {
                                margin-right: config.vwpc(8);
                                font-size: config.vwpc(16);
                                vertical-align: super;
                            }
                        }
                        .text {
                            position: relative;
                            z-index: 20;
                            @include config.fontPc(16);
                        }
                    }
                }
            }
            
        }
    }
}