@use "../../../assets/scss/s_config" as config;



.p-topConcept01 {
    position: relative;
    z-index: 100;
    @include config.SP {
        margin-bottom: config.vwsp(60);
    }

    &.is-end  {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:has(.item:not(:nth-child(1)).is-active) {
         .topSectionTitle01 {
            @include config.PC {
                .title {
                    @include config.fontPc(60);    
                }
            }
        }
    }

    &.is-enter {
        .block.scroll {
            .area.title {
                position: fixed;
                
                // .topSectionTitle01, .text {
                //     opacity: 1;
                // }
                .btn {
                    display: block;
                    position: fixed;
                    opacity: 1;
                }
               
            }
             .area.items {
                .content {
                    @include config.PC {
                        position: fixed !important;
                        top: 0 !important;
                        left: 0 !important;
                    }
                }
             }
        }
        
    }

    &>.componentWrapper {
    }

    
    
    .block.scroll {
        width: 100%;
        overflow: hidden;

        .area.title {
            position: absolute;
            top: config.vwpc(200);
            left: config.vwpc(60);
            z-index: 2000;

            @include config.SP {
                top: config.vwsp(100);
                left: config.vwsp(20);
            }

            .topSectionTitle01 {
                color: #FFF;
                // opacity: 0;
                // transition: opacity 0.4s 0.1s ease-in, font-size 1.0s ease;
            }
            
            .btn {
                opacity: 0;
                position: absolute;
                bottom: config.vwpc(60);
                right: config.vwpc(60);
                max-width: config.vwpc(240);

                transition: opacity 0.4s 0.5s ease-in;

                @include config.SP {
                    display: block;
                    position: static !important;
                    max-width: config.vwsp(240);
                    margin-top: config.vwsp(20);
                }
            }
        }
        
        .area.items {
            display: flex;
            flex-direction: column;
            background-color: #f0e4e4;
            height: 1000svh;
            @include config.SP {
                height: fit-content;
            }

            .item {
                pointer-events: none;
                opacity: 0;
                
                position: relative;
                width: 100%;
                background-color: #000;
                transition: opacity 0.3s ease;

                @include config.SP {
                    position: relative;
                    opacity: 1 !important;
                }
                &:first-child {
                    pointer-events: auto;
                    opacity: 1;
                }
                &:nth-child(even) {
                    .content {
                        background-color: #0FF;
                    }
                }
                &:nth-child(odd) {
                    .content {
                        background-color: #F0F;
                    }
                }
                &:first-child {
                    .content {
                        opacity: 1;
                    }
                }
                &.is-active {
                    pointer-events: auto;
                    opacity: 1 !important;
                    .content {
                        .textBox {
                            transform: translateY(0);
                            transition: transform 0.5s 0.5s ease;
                            &::after {
                                opacity: 1;
                                transition: opacity 0.5s 0.5s ease;
                            }
                            .inner {
                                opacity: 1;
                                transition: opacity 0.5s 0.5s ease;
                            }
                        }
                    }
                }
                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    position: relative;
                    width: 100svw;
                    height: 100svh;
                    transition: opacity 0.3s ease;

                    .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .textBox {
                        overflow: hidden;
                        position: absolute;
                        bottom: config.vwpc(60);
                        left: config.vwpc(60);
                        z-index: 10;
                        width: fit-content;
                        max-width: config.vwpc(800);
                        padding: config.vwpc(40);
                        box-sizing: border-box;
                        color: #FFF;
                        border-radius: config.vwpc(20);
                        transform: translateY(config.vwpc(20));
                        transition: transform 0.3s ease;

                        @include config.SP {
                            opacity: 1;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            max-width: 100%;
                            padding: config.vwsp(20);
                            border-radius: 0;
                            transform: translateY(0);
                        }

                        .inner {
                            position: relative;
                            z-index: 100;
                            opacity: 0;
                            transition: opacity 0.3s ease;
                            @include config.SP {
                                opacity: 1;
                            }
                        }

                        &::after {
                            /* bg */
                            opacity: 0;
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            top: 0px;
                            left: 0px;

                            background: rgba(0, 0, 0, 0.3);
                            backdrop-filter: blur(8px);
                            transition: opacity 0.3s ease;
                            @include config.SP {
                                opacity: 1;
                            }
                        }

                        .title {
                            position: relative;
                            z-index: 20;
                            margin-bottom: config.vwpc(16);
                            @include config.fontPc(24);
                            
                            @include config.SP {
                                font-size: config.vwsp(14);
                            }
                            
                            span {
                                margin-right: config.vwpc(8);
                                font-size: config.vwpc(16);
                                vertical-align: super;
                                @include config.SP {
                                    margin-right: config.vwsp(8);
                                    font-size: config.vwsp(10); 
                                }
                            }
                        }
                        .text {
                            position: relative;
                            z-index: 20;
                            @include config.fontPc(16);
                            @include config.SP {
                                font-size: config.vwsp(12);
                            }
                        }
                    }
                }
            }
            
        }
    }
}