<div class="c-debugSet01" id="debugAreaTarget">
    <div class="contents">
        <div class="leftArea">
            <div class="topArea">
                <div class="debugArea" id="debugArea_localStorage">
                </div>
            </div>
            <div class="bottomArea">
                <p class="fps">
                    <span>FPS:</span>
                    <span id="debugArea_fps">--</span>
                </p>
            </div>
            
        </div>
        <div class="rightArea">
            <div class="debugArea" id="debugArea_log">
            </div>
        </div>
    </div>
</div>