@use "../../../../assets/scss/s_config" as config;


.c-globalHeader01 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9800;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.5s ease;

    &.is-hidden {
        pointer-events: none;
        opacity: 0;
    }

    &.is-hidden_important {
        pointer-events: none !important;
        opacity: 0 !important;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }

    .block.contents {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        z-index: 100;

        .area.logo {
            padding: config.vwpc(20);

            span {
                display: flex;
                align-items: center;
                justify-content: center;

                width: config.vwpc(220);
                height: config.vwpc(80);
                background-color: #CCC;
            }
            
        }

        .area.btn {
            pointer-events: none;
            opacity: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            position: absolute;
            top: config.vwsp(20);
            right: config.vwsp(20);
            z-index: 100;

            width: config.vwsp(50);
            height: config.vwsp(36);

            &.is-active {
                span {
                    background-color: #342622;

                    &:nth-child(1) {
                        transform: translateY(config.vwsp(17)) rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: translateY(config.vwsp(-17)) rotate(-45deg);
                    }
                }
            }

            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 9/16) {
                pointer-events: auto;
                opacity: 1;
            }
            
            

            span {
                display: block;
                width: 100%;
                height: config.vwpc(3);
                background-color: var(--menu-color, #342622);
                margin-right: config.vwpc(20);
            }
            
        }

        .area.menu {
            padding-right: config.vwpc(20);
            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 9/16) {
                pointer-events: none;
                opacity: 0;
                padding-right: 0;
            }

            &.is-active {
                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 9/16) {
                    pointer-events: auto;
                    opacity: 1;
                }
            }
            ul {
                display: flex;
                gap: config.vwpc(30);
                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 9/16) {
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    gap: config.vwsp(30);

                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    
                    background-color: #FFF;
                }
            }
            li {
                @include config.fontPc(16);
                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 9/16) {
                    @include config.fontSp(16);
                }
            }
            a {
                color: var(--menu-color, #342622);
                text-decoration: none;
                transition: color 0.3s ease;

                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 9/16) {
                    color: #342622;
                }
            }
        }
    }
}