<header class="c-globalHeader01" data-target="globalHeader01">
    <div class="block contents" data-target="contentsTarget">
        <div class="area logo"  data-target="logoTarget">
            <h1 class="logo">
                ロゴ
            </h1>
        </div>
        <button class="area btn" data-target="btnTarget" aria-label="メニュー" data-menuClassCtr>
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav class="area menu" data-target="menuTarget" data-menuClassCtr>
            <ul>
                <li class="item">
                    <a href="/concept/">
                        CONCEPT
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        PRODUCT
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        LEARN
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        HISTORY
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        NEWS
                    </a>
                </li>
                <li class="item">
                    <a href="">
                        HOW TO USE
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>