<section class="p-conceptAbout01" data-target="conceptAbout01" data-hiddenMenu>
    <div class="block contents" data-target="contentsTarget">
        <p>気づけば、毎日が「やること」だけで埋まっていく。<br>
            本当はもっと、自分の心が喜ぶことをして生きたいのに──。</p>
        <p>CITTA手帳は、そんなあなたの毎日に「ワクワク」を取り戻す手帳です。<br>
            「CITTA」とはサンスクリット語で“心”のこと。<br>
            この手帳は、心を整え、自分を好きになるために生まれました。</p>
        <p>究極にシンプルな構成で、時間割のように一目で空き時間を可視化できるから、<br>
            決まったスケジュールと“やりたいこと”を書くだけ。</p>
        <p>余計なワークも、面倒なルールもありません。<br>
            ページを開くたび、自分らしい未来が鮮やかに見えてくる。<br>
            そしてある日ふと、「ああ、私っていいな」と心から思える。<br>
            毎日がもっと楽しくなる。<br>
            それが、CITTA手帳の約束です。</p>
    </div>
</section>