<section class="c-topNews01" data-target="topNews01">
    <div class="block menu" data-target="menuTarget">
        <p>メニュー</p>
    </div>
    <div class="block contents" data-target="contentsTarget">
        <div class="item" data-target="item">
            <p class="image">01</p>
            <div class="textWrapper">
                <p class="text">1右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">02</p>
            <div class="textWrapper">
                <p class="text">1右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">03</p>
            <div class="textWrapper">
                <p class="text">1右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">04</p>
            <div class="textWrapper">
                <p class="text">1右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">05</p>
            <div class="textWrapper">
                <p class="text">1右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
            </div>
        </div>
    </div>
</section>