
@use "../../../assets/scss/s_config" as config;
@import "keen-slider/keen-slider.min.css";

.p-topHowto01 {
    position: relative;
    z-index: 100;
    height: 100svh;
    padding: 50svh 0;
    &>.componentWrapper {
        position: relative;
        
        .block.slider {
            
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;

            .area.slider {
                overflow: visible;
                width: config.vwpc(400);

            }
        }
    }
}
