<section class="p-topHowto01" data-target="topHowto01">
    <div class="componentWrapper">
        <div class="block title">
            <h3 class="title">
                <span class="en">HOW TO USE</span>
                <span class="jp">みんなの手帳の使い方</span>
            </h3>
        </div>
        <div class="block slider">
            <div class="area slider keen-slider">
                <div class="keen-slider__slide">
                    <div class="item">
                        <a href="">
                            <p class="image">
                                <%- include('../../../_components/_common/_image/index.ejs', { 
                                    imagePath: '/assets/image/top/top_howto_image01.png',
                                    alt: '',
                                    sizes: '33vw',
                                    baseWidth: 720
                                }) %>
                            </p>
                            <p class="title">記事タイトルが入ります</p>
                            <p class="btn">READ MORE</p>
                        </a>
                    </div>
                </div>
                <div class="keen-slider__slide">
                    <div class="item">
                        <a href="">
                            <p class="image">
                                <%- include('../../../_components/_common/_image/index.ejs', { 
                                    imagePath: '/assets/image/top/top_howto_image01.png',
                                    alt: '',
                                    sizes: '33vw',
                                    baseWidth: 720
                                }) %>
                            </p>
                            <p class="title">記事タイトルが入ります</p>
                            <p class="btn">READ MORE</p>
                        </a>
                    </div>
                </div>
                <div class="keen-slider__slide">
                    <div class="item">
                        <a href="">
                            <p class="image">
                                <%- include('../../../_components/_common/_image/index.ejs', { 
                                    imagePath: '/assets/image/top/top_howto_image01.png',
                                    alt: '',
                                    sizes: '33vw',
                                    baseWidth: 720
                                }) %>
                            </p>
                            <p class="title">記事タイトルが入ります</p>
                            <p class="btn">READ MORE</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>