<section class="p-topHowto01" data-target="topHowto01">
    <div class="componentWrapper">
        <div class="block slider">
            <div class="area slider keen-slider">
                <div class="keen-slider__slide">スライド1</div>
                <div class="keen-slider__slide">スライド2</div>
                <div class="keen-slider__slide">スライド3</div>
            </div>
        </div>
    </div>
</section>