<section class="c-topProduct01" data-target="topProduct01">
    <div class="block title" data-target="leftTarget">
        <p class="title">PRODUCT</p>
        <p class="subTitle">究極にシンプルでずっと使いたくなる作り</p>
    </div>
    <div class="block contents" data-target="rightTarget">
        <div class="item" data-target="item">
            <p class="image">01</p>
            <div class="textWrapper">
                <p class="text">1右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
                <p class="scrollPoint"></p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">02</p>
            <div class="textWrapper">
                <p class="text">2右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
                <p class="scrollPoint"></p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">03</p>
            <div class="textWrapper">
                <p class="text">3右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
                <p class="scrollPoint"></p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">04</p>
            <div class="textWrapper">
                <p class="text">4右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
                <p class="scrollPoint"></p>
            </div>
        </div>
        <div class="item" data-target="item">
            <p class="image">05</p>
            <div class="textWrapper">
                <p class="text">5右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ右のコンテンツ</p>
                <p class="scrollPoint"></p>
            </div>
        </div>
    </div>
</section>