@use "../../../assets/scss/s_config" as config;

.c-topProduct01 {
    display: flex;
    justify-content: flex-end;

    position: relative;
    z-index: 100;

    box-sizing: border-box;

    &.is-active, &.is-last-active {
        .block.title {
            .title {
                @include config.fontPc(60);
            }
        }
    }

    &.is-last-active {
        .block.title {
            .images {
                .image {
                    &:last-child {
                        opacity: 1 !important;
                    }
                }
            }
        }
    }

    .block.title {
        position: absolute;
        left: 0;
        width: config.vwpc(560);
        height: 100%;
        .title {
            margin-bottom: config.vwpc(16);
            padding-top: config.vwpc(100);
            @include config.fontPc(140);
            transition: font-size 0.5s ease-in-out;
        }
        .subTitle {
            @include config.fontPc(24);
        }
        .images {
            position: relative;
            width: config.vwpc(560);
            height: config.vwpc(700);
            .image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.3s ease;
                &.is-active {
                    opacity: 1;
                }
                &:first-child {
                    opacity: 1 !important;
                }
            }
        }
    }
    .block.contents {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: calc(100% - config.vwpc(560));
        padding: 100svh 0;
        
        .item {
            width: 100%;
            padding: config.vwpc(80) 0;
            background-color: #DFDFDF;
        }
        .image {
            display: none;
        }
    }
    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: config.vwpc(300);
        height: config.vwpc(300);
        background-color: #CFCFCF;
    }
}