
<%- include('./_components/_common/_header/index.ejs') %>
	<div class="c-debugPageSet">
		<p class="title">top</p>
		<ul>
			<li>
				<a href="./_top/_01_mainvisual/">_01_mainvisual</a>
			</li>
			<li>
				<a href="./_top/_02_concept/">_02_concept</a>
			</li>
			<li>
				<a href="./_top/_03_product/">_03_product</a>
			</li>
			<li>
				<a href="./_top/_04_diary/">_04_diary</a>
			</li>
			<li>
				<a href="./_top/_05_howto/">_05_howto</a>
			</li>
			<li>
				<a href="./_top/_06_banner/">_06_banner</a>
			</li>
			<li>
				<a href="./_top/_07_voice/">_07_voice</a>
			</li>
			<li>
				<a href="./_top/_08_movie/">_08_movie</a>
			</li>
			<li>
				<a href="./_top/_09_news/">_09_news</a>
			</li>
		</ul>

		<p class="title">concept</p>

		<ul>
			<li>
				<a href="./_concept/_01_about/">_01_about</a>
			</li>
			<li>
				<a href="./_concept/_02_advantages/">_02_advantages</a>
			</li>
		</ul>

		<p class="title">product</p>

		<ul>
			<li>
				<a href="./_product/_01_products/">_01_products</a>
			</li>
			<li>
				<a href="./_product/_02_material/">_02_material</a>
			</li>
		</ul>

		<p class="title">learn</p>

		<ul>
			<li>
				<a href="./_learn/_01_about/">_01_about</a>
			</li>
			<li>
				<a href="./_learn/_02_banner/">_02_banner</a>
			</li>
			<li>
				<a href="./_learn/_03_member/">_03_member</a>
			</li>
		</ul>

		<p class="title">history</p>

		<ul>
			<li>
				<a href="./_history/_01_history/">_01_history</a>
			</li>
		</ul>

		<p class="title">news</p>

		<ul>
			<li>
				<a href="./_news/_01_newsList/">_01_newsList</a>
			</li>
		</ul>

		<p class="title">howto</p>

		<ul>
			<li>
				<a href="./_howto/_01_newsList/">_01_newsList</a>
			</li>
	</div>
<%- include('./_components/_common/_footer/index.ejs') %>