<section class="c-topConcept01" data-target="topConcept01" data-menuColor="#FFFFFF">
    <div class="block scroll" data-target="scrollTarget">
        <div class="area items" data-target="itemsTarget">
            <div class="item" data-target="item">
                <div class="content">
                    <p>アイテム1</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <p>アイテム2</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <p>アイテム3</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <p>アイテム4</p>
                </div>
            </div>
            <div class="item" data-target="item">
                <div class="content">
                    <p>アイテム5</p>
                </div>
            </div>
        </div>
    </div>
</section>