.c-topConcept01 {
    position: relative;
    z-index: 100;
    &.is-end  {
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .block.scroll {
        width: 100%;
        overflow: hidden;
        
        .area.items {
            display: flex;
            flex-direction: column;
            background-color: #f0e4e4;
            height: 500svh;

            .item {
                width: 100%;
                &:nth-child(even) {
                    .content {
                        background-color: #0FF;
                    }
                }
                &:nth-child(odd) {
                    .content {
                        background-color: #F0F;
                    }
                }
                &:first-child {
                    .content {
                        opacity: 1;
                    }
                }
                &.is-active {
                    .content {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100svw;
                        height: 100svh;
                        z-index: 1000;
                        opacity: 1;
                    }
                }
                .content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100svw;
                    height: 100svh;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
            }
            
        }
    }
}