@use "../../../assets/scss/s_config" as config;

$imageLength: 5;


.p-topMainvisual01 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100svh;
    box-sizing: border-box;
    background-color: #FFF;
    background-image: url("../../../assets/image/top/top_mainvisual_texture01.webp");
    background-size: config.vwpc(80);
    @include config.fontPc(18);

    --lineLineAnimationTime: 10s;
    --lineSizeAnimationTime: 0.3s;
    --imageFadeAnimationTime: 0.7s;


    &.is-end {
         .block.contents {
            .area.bg {
                // top: config.vwpc(20);
                // left: config.vwpc(20);
                // width: calc(100% - #{config.vwpc(40)});
                // height: calc(100% - #{config.vwpc(40)});

                // @include config.SP {
                //     top: config.vwsp(30);
                //     left: config.vwsp(30);
                //     width: calc(100% - #{config.vwsp(60)});
                //     height: calc(100% - #{config.vwsp(60)});
                // }
            }
        }
    }

    &.is-scroll {
        .block.contents {
            .area.bg {
                // top: config.vwpc(20);
                // left: config.vwpc(20);
                // width: calc(100% - #{config.vwpc(40)});
                // height: calc(100% - #{config.vwpc(40)});
                // @include config.SP {
                //     top: config.vwsp(30);
                //     left: config.vwsp(30);
                //     width: calc(100% - #{config.vwsp(60)});
                //     height: calc(100% - #{config.vwsp(60)});
                // }
            }
            .area.nav {
                opacity: 0;
            }
            .area.scroll {
                opacity: 0;
            }
            .area.lead {
                opacity: 0;
            }
        }
    }
    
    .block.contents {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        position: relative;

        width: 100%;
        height: 100%;

        @for $i from 1 through $imageLength {
            &.image#{$i} .area.bg .item.image#{$i} {
                z-index: 10;
                opacity: 1 !important;
                scale: 1.1;
                transition:  opacity var(--imageFadeAnimationTime) ease, scale var(--lineLineAnimationTime) linear;
            }
        }

       
        // &:not(.image1) .area.lead {
            
        //     @media (min-width: config.$RES_WID_SMALL01) and (min-aspect-ratio: 3/4) {
        //         // top: config.vwpc(100);   
        //         gap: config.vwpc(20);
        //         .logo {
        //             width: config.vwpc(260);
        //         }
        //         .text {
        //             @include config.fontPc(13);
        //         }
        //     }
        // }

        .area.bg {
            overflow: hidden;
            position: absolute;
            top: config.vwpc(20);
            left: config.vwpc(20);
            width: calc(100% - #{config.vwpc(40)});
            height: calc(100% - #{config.vwpc(40)});
            border-radius: config.vwpc(16);

            transition: top 0.3s ease, left 0.3s ease, width 0.3s ease, height 0.3s ease, border-radius var(--imageFadeAnimationTime) ease;

            @include config.SP {
                top: config.vwsp(5);
                left: config.vwsp(5);
                width: calc(100% - #{config.vwsp(10)});
                height: calc(100% - #{config.vwsp(10)});
                border-radius: config.vwsp(10);
            }

            .item {
                pointer-events: none;
                opacity: 0;
                z-index: 0;

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                transition:  opacity var(--imageFadeAnimationTime) ease, scale var(--lineLineAnimationTime) 0.3s linear;

                
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item picture img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .area.btn {
            display: flex;
            align-items: center;
            gap: config.vwpc(10);
            position: absolute;
            z-index: 1000;

            bottom: config.vwpc(60);
            left: config.vwpc(60);


            @include config.SP {
                gap: config.vwsp(5);
                bottom: config.vwsp(160);
                left: 50%;
                transform: translateX(-50%);
                width: config.vwsp(300);
                box-sizing: border-box;
            }

            @for $i from 1 through $imageLength {
                &.image#{$i} .btn.image#{$i} {
                    width: config.vwpc(200);
                    @include config.SP {
                        width: 100%;
                    }
                    .line {
                        opacity: 1;
                        // transform: scaleX(1);
                        // transition: transform $lineLineAnimationTime $lineSizeAnimationTime linear;
                    }
                }
            }
            
            .btn {
                position: relative;
                width: config.vwpc(30);
                height: config.vwpc(2);
                background-color: #CDCDCD;
                transition: all var(--lineSizeAnimationTime) ease;

                @include config.SP {
                    width: 20%;
                    height: config.vwsp(1);
                }

                span.pointerArea {
                    display: block;
                    width: 100%;
                    height: 50px;
                    margin-top: -25px;
                }
                
                span.line {
                    pointer-events: none;
                    opacity: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #735A40;
                }
            }
        }

        .area.nav {
            position: absolute;
            z-index: 1000;
            padding-right: 0;
            top: config.vwpc(80);
            left: config.vwpc(80);
            transition: opacity 0.3s ease, gap var(--imageFadeAnimationTime) ease, top var(--imageFadeAnimationTime) ease, right var(--imageFadeAnimationTime) ease;

            @include config.SP {
                display: none;
            }

            ul {
                display: flex;
                gap: config.vwpc(30);
                flex-direction: column;
                gap: config.vwpc(30);
            }
            li {
                color: config.$DEFAULT_COLOR02 !important;
                font-family: config.$DF_EN_FONT;
                font-weight: 400;
                @include config.fontPc(36);
                line-height: 1.0;
            }
        }

        .area.scroll {
            display: flex;
            align-items: flex-start;
            gap: config.vwpc(8);

            position: absolute;
            top: config.vwpc(520);
            left: config.vwpc(80);
            z-index: 1000;

            transition: opacity 0.3s ease;

            @include config.SP {
                top: config.vwsp(280);
                left: 50%;
                transform: translateX(-50%);
            }
            .disc {
                width: config.vwpc(6);
                height: config.vwpc(6);
                background-color: config.$DEFAULT_COLOR02;
                border-radius: 100px;
            }
            .text {
                color: config.$DEFAULT_COLOR02;
                font-family: config.$DF_EN_FONT;
                @include config.fontPc(16);
                font-weight: 400;
                line-height: 1.0;
                @include config.SP {
                    @include config.fontSp(16);
                }
            }
        }
        .area.lead {
            position: fixed;
            top: config.vwpc(120);
            right: config.vwpc(120);
            z-index: 100;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: config.vwpc(40);

            transition: opacity 0.3s ease, gap var(--imageFadeAnimationTime) ease, top var(--imageFadeAnimationTime) ease, right var(--imageFadeAnimationTime) ease;


            @include config.SP {
                top: config.vwsp(100);
                right: 50%;
                transform: translateX(50%);
            }

            .logo {
                width: config.vwpc(430);
                transition: width var(--imageFadeAnimationTime) ease;
                @include config.SP {
                    width: config.vwsp(200) !important;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .text {
                @include config.fontPc(16);
                text-align: center;
                transition: font-size var(--imageFadeAnimationTime) ease;

                .is-sp {
                    display: none;
                    @include config.SP {
                        display: inline;
                    }
                }

                @include config.SP {
                    @include config.fontSp(10);
                }
            }
        }
        .area.banner {
            position: absolute;
            bottom: config.vwpc(60);
            right: config.vwpc(60);
            z-index: 1000;

            @include config.SP {
                bottom: config.vwsp(20);
                right: 50%;
                transform: translateX(50%);
            }

            a {
                display: block;
                width: config.vwpc(520);
                height: config.vwpc(192);
                background-color: #FFF;
                padding: config.vwpc(4);
                box-sizing: border-box;
    
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.15);
                border-radius: config.vwpc(10);

                @include config.SP {
                    width: config.vwsp(300);
                    height: config.vwsp(112);
                    padding: config.vwsp(4);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: config.vwpc(8);
                }
            }
        }
    }
}