<section class="p-topMainvisual01" data-target="topMainvisual01">
    <div class="block contents" data-target="contentsTarget">
        <div class="area bg">
            <div class="item">
                <%- include('../../../_components/_common/_image/index.ejs', { 
                    imagePath: '/assets/image/top/top_mainvisual_bg01.png',
                    alt: 'メインビジュアル',
                    sizes: '100vw',
                    baseWidth: 2800
                }) %>
            </div>
        </div>
    </div>
</section>