<section class="p-topMainvisual01" data-target="topMainvisual01" data-importantHidden>
    <div class="block contents" data-target="contentsTarget">
        <div class="area bg">
            <div class="item">
                <%- include('../../../_components/_common/_image/index.ejs', { 
                    imagePath: '/assets/image/top/top_mainvisual_bg01.png',
                    alt: 'メインビジュアル',
                    sizes: '100vw',
                    baseWidth: 2800
                }) %>
            </div>
        </div>
        <div class="area scroll">
            <p class="text">SCROLL</p>
        </div>
        <div class="area lead">
            <p class="logo">
                <img src="/assets/image/common/common_logo.svg" alt="CITTA DIARY">
            </p>
            <h2 class="text">毎日を少しずつ整える。<br>書くことが、心地よい習慣になる。</h2>
        </div>
    </div>
</section>