@use "../../../assets/scss/s_config" as config;

$imageLngth: 5;
$lineLineAnimationTime: 5.0s;
$lineSizeAnimationTime: 0.3s;
$imageFadeAnimationTime: 0.7s;

.p-topMainvisual01 {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100svh;
    box-sizing: border-box;
    background-color: #FFF;
    @include config.fontPc(18);


    &.is-end {
         .block.contents {
            .area.bg {
                top: config.vwpc(20);
                left: config.vwpc(20);
                width: calc(100% - #{config.vwpc(40)});
                height: calc(100% - #{config.vwpc(40)});

                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                    top: config.vwsp(30);
                    left: config.vwsp(30);
                    width: calc(100% - #{config.vwsp(60)});
                    height: calc(100% - #{config.vwsp(60)});
                }
            }
        }
    }

    &.is-scroll {
        .block.contents {
            .area.bg {
                top: config.vwpc(20);
                left: config.vwpc(20);
                width: calc(100% - #{config.vwpc(40)});
                height: calc(100% - #{config.vwpc(40)});
                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                    top: config.vwsp(30);
                    left: config.vwsp(30);
                    width: calc(100% - #{config.vwsp(60)});
                    height: calc(100% - #{config.vwsp(60)});
                }
            }
            .area.scroll {
                opacity: 0;
            }
            .area.lead {
                opacity: 0;
            }
        }
    }
    
    .block.contents {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        width: 100%;
        height: 100%;

        @for $i from 1 through $imageLngth {
            &.image#{$i} .area.bg .item.image#{$i} {
                z-index: 10;
                opacity: 1 !important;
                scale: 1.04;
                transition:  opacity $imageFadeAnimationTime ease, scale $lineLineAnimationTime linear;
            }
        }

       
        &:not(.image1) .area.lead {
            
            @media (min-width: config.$RES_WID_SMALL01) and (min-aspect-ratio: 3/4) {
                // top: config.vwpc(100);   
                gap: config.vwpc(20);
                .logo {
                    width: config.vwpc(260);
                }
                .text {
                    @include config.fontPc(13);
                }
            }
        }

        .area.bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: config.vwpc(16);

            transition: top 0.3s ease, left 0.3s ease, width 0.3s ease, height 0.3s ease, border-radius $imageFadeAnimationTime ease;

            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                top: config.vwsp(5);
                left: config.vwsp(5);
                width: calc(100% - #{config.vwsp(10)});
                height: calc(100% - #{config.vwsp(10)});
                border-radius: config.vwsp(10);
            }

            .item {
                pointer-events: none;
                opacity: 0;
                z-index: 0;

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                transition:  opacity $imageFadeAnimationTime ease, scale $lineLineAnimationTime 0.3s linear;

                
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item picture img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .area.btn {
            display: flex;
            align-items: center;
            gap: config.vwpc(10);
            position: absolute;
            z-index: 1000;

            bottom: config.vwpc(60);
            left: config.vwpc(60);


            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                gap: config.vwsp(5);
                bottom: config.vwsp(160);
                left: 50%;
                transform: translateX(-50%);
                width: config.vwsp(300);
                box-sizing: border-box;
            }

            @for $i from 1 through $imageLngth {
                &.image#{$i} .btn.image#{$i} {
                    width: config.vwpc(200);
                    @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                        width: 100%;
                    }
                    .line {
                        opacity: 1;
                        // transform: scaleX(1);
                        // transition: transform $lineLineAnimationTime $lineSizeAnimationTime linear;
                    }
                }
            }
            
            .btn {
                position: relative;
                width: config.vwpc(30);
                height: config.vwpc(2);
                background-color: #CDCDCD;
                transition: all $lineSizeAnimationTime ease;

                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                    width: 20%;
                    height: config.vwsp(1);
                }

                span.pointerArea {
                    display: block;
                    width: 100%;
                    height: 50px;
                    margin-top: -25px;
                }
                
                span.line {
                    pointer-events: none;
                    opacity: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #735A40;
                }
            }
        }
        .area.scroll {
            position: fixed;
            top: config.vwpc(520);
            left: config.vwpc(60);

            transition: opacity 0.3s ease;

            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                top: config.vwsp(280);
                left: 50%;
                transform: translateX(-50%);
            }
            .text {
                color: config.$DEFAULT_COLOR02;
                font-family: config.$DF_EN_FONT;
                @include config.fontPc(16);
                font-weight: 400;
                line-height: 1.0;
                letter-spacing: 0.05em;
                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                    @include config.fontSp(16);
                }
            }
        }
        .area.lead {
            position: fixed;
            top: config.vwpc(160);
            right: config.vwpc(120);
            z-index: 100;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: config.vwpc(40);

            transition: opacity 0.3s ease, gap $imageFadeAnimationTime ease, top $imageFadeAnimationTime ease, right $imageFadeAnimationTime ease;


            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                top: config.vwsp(100);
                right: 50%;
                transform: translateX(50%);
            }

            .logo {
                width: config.vwpc(430);
                transition: width $imageFadeAnimationTime ease;
                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                    width: config.vwsp(200) !important;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .text {
                @include config.fontPc(16);
                text-align: center;
                transition: font-size $imageFadeAnimationTime ease;

                @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                    @include config.fontSp(10);
                }
            }
        }
        .area.banner {
            position: absolute;
            bottom: config.vwpc(60);
            right: config.vwpc(60);
            z-index: 1000;

            @include config.SP {
                bottom: config.vwsp(20);
                right: 50%;
                transform: translateX(50%);
            }

             a {
                display: block;
                width: config.vwpc(520);
                height: config.vwpc(192);
                background-color: #FFF;
                padding: config.vwpc(4);
                box-sizing: border-box;

                @include config.SP {
                    width: config.vwsp(300);
                    height: config.vwsp(112);
                    padding: config.vwsp(4);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}