@use "../../../assets/scss/s_config" as config;

.l-bgWrapper01 {
    position: relative;
    z-index: 1000;
    padding-top: config.vwpc(400);

   
    .bg[data-target="bgArea"] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        width: 100%;
        height: 100%;
        background-image: url("../../../assets/image/common/common_texture01.webp");
        background-color: #FFF;
        background-size: 80px;
        background-position: top;
        box-shadow: 0px 0px config.vwpc(30) rgba(#735A40, 0.1);
    }
}

