
<p class="c-btn01<%- (typeof btnClass !== 'undefined' && btnClass) ? ' ' + btnClass : '' %>">
    <a href="<%= btnHref || '#' %>">
      <span>
        <%= btnText || 'DETAIL' %>
      </span>
    </a>
</p>