@use "../../../assets/scss/s_config" as config;

.p-topProduct01 {
    display: flex;
    justify-content: flex-end;

    position: relative;
    z-index: 100;

    padding: 0 config.vwpc(60);

    box-sizing: border-box;

    &.is-active, &.is-last-active {
        .block.title {
            .title {
                @include config.fontPc(60);
            }
        }
    }

    &.is-last-active {
        .block.title {
            .images {
                .image {
                    &:last-child {
                        opacity: 1 !important;
                    }
                }
            }
        }
    }

    .block.title {
        position: absolute;
        left: config.vwpc(60);
        width: calc(70svh * (560 / 700));
        height: 100%;
        @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
            display: none;
        }
        

        .title {
            margin-bottom: config.vwpc(16);
            padding-top: config.vwpc(60);
            @include config.fontPc(140);
            transition: font-size 0.5s ease-in-out;
        }
        .subTitle {
            @include config.fontPc(24);
        }
        .images {
            position: relative;
            height: 70svh;
            aspect-ratio: 560 / 700;
            margin-top: config.vwpc(40);

            .image {
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.3s ease;
                &.is-active {
                    pointer-events: all;
                    opacity: 1;
                }
                &:first-child {
                    opacity: 1 !important;
                }

            }
        }
    }
    .block.contents {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        gap: config.vwpc(80);
        width: calc(100% - calc(70svh * (560 / 700)) - config.vwpc(60));
        padding: 100svh 0;

        @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
            width: 100%;
        }
        
        .item {
            width: 100%;
            padding: config.vwpc(80) 0;

            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                opacity: 1 !important;
            }
        }
        .image {
            display: none;
            @media (max-width: config.$RES_WID_SMALL01) and (max-aspect-ratio: 3/4) {
                display: block;
            }
        }
    }
    .image {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: config.vwpc(300);
        height: config.vwpc(300);
        background-color: #CFCFCF;
        border-radius: config.vwpc(16);
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}