
@use "../../../assets/scss/s_config" as config;

.c-topMovie01 {
    position: relative;
    z-index: 100;
    height: 40svw;
    padding: config.vwpc(80) 0;
    background-color: #000;

    .block.contents {
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.5;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

