@use "../../assets/scss/s_config" as config;

@forward "_topSectionTitle01/";

@forward "_01_mainvisual/";
@forward "_02_concept/";
@forward "_03_product/";
@forward "_04_dialy/";
@forward "_05_howto/";
@forward "_06_banner/";
@forward "_07_voice/";
@forward "_08_movie/";
@forward "_09_news/";

