@use "../../../assets/scss/s_config" as config;

.p-topDiary01 {
    position: relative;
    z-index: 100;
    height: 200svh;
    min-height: 1500px;
    padding: config.vwpc(20);
    box-sizing: border-box;

    @include config.SP {
        min-height: auto;
        height: auto;
        aspect-ratio: 9/16;
    }

    .pin-spacer {
        @include config.SP {
            width: auto !important;
            height: 100% !important;
            padding: 0 !important;
        }
    }

    .block.contents {
        position: relative;
        z-index: 1000;
        width: 100%;
        max-width: 1360px;
        height: calc( 90svh - config.vwpc(40) );
        max-height: 1000px;
        margin: 0 auto;
        background-color: #F5F1E2;
        border-radius: config.vwpc(60);
        box-shadow: 0 4px 16px rgba(0,0,0,0.1);

        @include config.SP {
            position: relative !important;
            top: auto !important;
            left: auto !important;
            height: 100% !important;
            max-height: none !important;
            padding: 0 !important;
            transform: none !important;
        }
    }
    .area.title {
        position: absolute;
        top: config.vwpc(60);
        left: config.vwpc(60);
        z-index: 10;

        @include config.SP {
            width: 100%;
            top: config.vwsp(20);
            left: 0;
        }

        .title {
            @include config.fontPc(46);
            @include config.SP {
                @include config.fontSp(18);
                text-align: center;
            }
        }
        .text {
            @include config.fontPc(16);
            @include config.SP {
                @include config.fontSp(12);
                text-align: center;
            }
        }
    }
    .area.image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: config.vwpc(800);
        height: config.vwpc(533);
        // aspect-ratio: 3 / 4;
        transform: translate(-50%, -50%);
        z-index: 0;

        @include config.SP {
            width: config.vwsp(468);
            height: config.vwsp(312);
            transform: translate(-50%, calc(-50% - config.vwsp(80)));

            
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        

        &.first .first {
            pointer-events: all;
            opacity: 1;
        }
        &.second .second {
            pointer-events: all;
            opacity: 1;
        }
        &.third .third {
            pointer-events: all;
            opacity: 1;
        }
        &.fourth .fourth {
            pointer-events: all;
            opacity: 1;
        }
        &.fifth .fifth {
            pointer-events: all;
            opacity: 1;
        }
        &.sixth .sixth {
            pointer-events: all;
            opacity: 1;
        }

        &.color01 .color01 {
            pointer-events: all;
            opacity: 1;
        }
        &.color02 .color02 {
            pointer-events: all;
            opacity: 1;
        }
        &.color03 .color03 {
            pointer-events: all;
            opacity: 1;
        }
        &.color04 .color04 {
            pointer-events: all;
            opacity: 1;
        }
        &.color05 .color05 {
            pointer-events: all;
            opacity: 1;
        }

        .image {
            pointer-events: none;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: #CCC;
            transition: opacity 0.5s ease;
          
            .color03 {
                background-color: #00F;
            }
            .color04 {
                background-color: #FF0;
            }
            .color05 {
                background-color: #0FF;
            }
        }
        .second, .third, .fourth, .fifth, .sixth {
            @include config.SP {
                transform: translate(15%, 0);
            }
        }
    }
    .area.contents {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: config.vwpc(40);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1000;

        width: 100%;
        padding: config.vwpc(20) config.vwpc(60);
        box-sizing: border-box;

        @include config.SP {
            flex-direction: column;
            padding: config.vwsp(10) config.vwsp(10);
            gap: config.vwsp(10);

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(#F5F1E2, 0.5);
                backdrop-filter: blur(12px);
            }
        }

        .textBox {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            @include config.SP {
                width: 100%;
                height: auto;
            }
            .text {
                display: none;
                width: 100%;
                height: 100%;
                transition: opacity 0.5s ease;
                @include config.fontPc(14);

                @include config.SP {
                    @include config.fontSp(11);
                }
            }
            &.first .first, &.second .second, &.third .third, &.fourth .fourth, &.fifth .fifth, &.sixth .sixth {
                display: block;
            }
        }
        .btnBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 10;
            width: config.vwpc(420);
            background-color: #FFF;
            padding: config.vwpc(20);
            box-sizing: border-box;

            @include config.SP {
                width: 100%;
                flex-direction: column;
                align-items: center;
                gap: config.vwsp(10);
                padding: config.vwsp(10) config.vwsp(30);
            }

            .price {
                display: flex;
                justify-content: center;
                align-items: baseline;
                width: config.vwpc(180);
                span {
                    display: block;
                    white-space: nowrap;
                }
                .value {
                    font-family: config.$DF_EN_FONT;
                    font-weight: 700;
                    @include config.fontPc(22);
                    @include config.SP {
                        @include config.fontSp(18);
                    }
                }
                .text {
                    @include config.fontPc(14);
                    @include config.SP {
                        @include config.fontSp(12);
                    }
                }
            }
            .btn {
                width: config.vwpc(190);
                @include config.SP {
                    width: 100%;
                }
            }
        }
    }
    .area.color {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: config.vwpc(10);

        position: absolute;
        top: config.vwpc(80);
        right: config.vwpc(80);

        padding: config.vwpc(20);
        border-radius: config.vwpc(10);

        @include config.SP {
            flex-direction: row;
            top: calc(50% + config.vwsp(70));
            left: 50%;
            right: auto;
            transform: translateX(-50%);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(12px);
        }

        &.color01 .circle.color01,
        &.color02 .circle.color02,
        &.color03 .circle.color03,
        &.color04 .circle.color04,
        &.color05 .circle.color05 {
            &::before {
                border: config.vwpc(6) solid #FFF;

                @include config.SP {
                    border: config.vwsp(4) solid #FFF;
                }
            }
        }

        .circle {
            position: relative;
            z-index: 10;
            width: config.vwpc(40);
            height: config.vwpc(40);
            background-color: #EFEFEF;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100px;
            border: none;

            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));

            @include config.SP {
                width: config.vwsp(24);
                height: config.vwsp(24);
            }

            &.color01 {
                background-image: url("../../../assets/image/top/top_diary_color01.webp");
            }
            &.color02 {
                background-image: url("../../../assets/image/top/top_diary_color02.webp");
            }
            &.color03 {
                background-image: url("../../../assets/image/top/top_diary_color03.webp");
            }
            &.color04 {
                background-image: url("../../../assets/image/top/top_diary_color04.webp");
            }
            &.color05 {
                background-image: url("../../../assets/image/top/top_diary_color05.webp");
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: config.vwpc(3) solid #C3C3C3;
                box-sizing: border-box;
                border-radius: 100px;
                transition: border 0.3s ease;

                @include config.SP {
                    border: config.vwsp(2) solid #C3C3C3;
                }
            }
        }
    }

    .area.arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 0;
        transform: translate(-50%, -50%);

        @include config.SP {
            transform: translate(-50%, calc(-50% - config.vwsp(80)));
        }

        .arrow {
            overflow: hidden;
            position: absolute;
            top: 50%;
            width: config.vwpc(80);
            height: config.vwpc(80);
            border: none;
            border-radius: 100px;
            border: 2px solid rgba(255, 255, 255, 0.5);
            transform: translateY(-50%);

            @include config.SP {
                width: config.vwsp(40);
                height: config.vwsp(40);
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 30%;
                height: 30%;
                background-image: url("../../../assets/image/common/common_btn_arrow01.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                transform: translate3d(-50%, -50%, 0);
                z-index: 10;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.05);
                backdrop-filter: blur(12px);
            }

            &.left {
                left: config.vwpc(200);
                &::before {
                    transform: translate3d(-50%, -50%, 0) scaleX(-1);
                }
                @include config.SP {
                    left: config.vwsp(10);
                }
            }
            &.right {
                right: config.vwpc(200);
                @include config.SP {
                    right: config.vwsp(10);
                }
            }

        } 
    }
}
