
@use "../../../assets/scss/s_config" as config;

.c-sideFixed01 {
    position: relative;
    z-index: 100;

    box-sizing: border-box;

    &>.componentWrapper {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @include config.contentsWidth();

        @include config.SP {
            flex-direction: column;
            position: relative !important;
            top: auto !important;
            left: auto !important;
            height: 100% !important;
            max-height: none !important;
            padding: 0 config.vwsp(10) !important;
            transform: none !important;
        }

        .pin-spacer {
            @include config.SP {
                width: auto !important;
                height: 100% !important;
                padding: 0 !important;
            }
        }

        .block.menu {
            position: absolute;
            left: 0;
            height: 100%;

            @include config.SP {
                position: relative !important;
                width: 100% !important;
                top: auto !important;
                left: auto !important;
                transform: none !important;
            }
        }

        .block.contents {

            @include config.SP {
                width: 100% !important;
                height: auto !important;
            }
        }
    }

    
}

