
<%- include('./_components/_common/_header/index.ejs') %>
	<div class="l-mainContainer" data-target="containerTarget" data-barba="container" data-barba-namespace="home" data-page="top">
		<%- include('./_pages/_top/_01_mainvisual/index.ejs') %>
		<%- include('./_pages/_top/_02_concept/index.ejs') %>
		<div class="l-bgWrapper01" data-target="bgWrapper01">
			<%- include('./_pages/_top/_03_product/index.ejs') %>
			<%- include('./_pages/_top/_04_diary/index.ejs') %>
			<%- include('./_pages/_top/_05_howto/index.ejs') %>
			<%- include('./_pages/_top/_06_banner/index.ejs') %>
			<%- include('./_pages/_top/_07_voice/index.ejs') %>
			<%- include('./_pages/_top/_08_movie/index.ejs') %>
			<%- include('./_pages/_top/_09_news/index.ejs') %>
		</div>
	</div>
<%- include('./_components/_common/_footer/index.ejs') %>