<%- include('./_components/_common/_header/index.ejs') %>

	<%- include('./_components/_top/_01_mainvisual/index.ejs') %>
	<%- include('./_components/_top/_02_concept/index.ejs') %>
	<div class="l-bgWrapper01" data-target="bgWrapper01">
		<%- include('./_components/_top/_03_product/index.ejs') %>
		<%- include('./_components/_top/_04_dialy/index.ejs') %>
		<%- include('./_components/_top/_05_howto/index.ejs') %>
		<%- include('./_components/_top/_06_banner/index.ejs') %>
		<%- include('./_components/_top/_07_voice/index.ejs') %>
		<%- include('./_components/_top/_08_movie/index.ejs') %>
		<%- include('./_components/_top/_09_news/index.ejs') %>
	</div>

<%- include('./_components/_common/_footer/index.ejs') %>